# ------------------ Database Credentials -------------------

MARIADB_ROOT_PASSWORD="root_pass943"

MARIADB_USER='sdmp_user'
MARIADB_PASSWORD='sdmp_usr_pss789'
MARIADB_DATABASE="sdmp"


# -------------------- App Configuration --------------------

SDMP_APP_PORT=9000
# SDMP_APP_NAME='SDMP'
# SDMP_STATIC_DIR='static'      # set to null

# SDMP_DB_HOST='localhost'      # set to 'db' if using containers
# SDMP_DB_PORT=3306
SDMP_DB_USER="${MARIADB_USER}"
SDMP_DB_PASS="${MARIADB_PASSWORD}"
SDMP_DB_NAME="${MARIADB_DATABASE}"
